
    <h3>Step 2: Select your config and options<h3>

    <div>
        <label>Config: </label>
        <select id="configSelect">
            <option value="volvo"> Volvo </option>
            <option value="saab"> Saab </option>
            <option value="fiat"> Fiat </option>
        </select>
    </div>
    <div>
        <label>Range: </label>
    </div>
    <div>
       <label>Tow hitch? </label>
       <input type="checkbox" id="includeTow">
    </div>
    <div>
        <label>yoke steering wheel? </label>
        <input type="checkbox" id="includeYoke">
     </div>