<div>
    <h3>Step 1: Choose your Model and color<h3>

    <div>
        <label>Model: </label>
        <select id="modelSelect" (change)="onCarSelected($event.target.value)">
            <option value="volvo"> Volvo </option>
            <option value="saab"> Saab </option>
            <option value="fiat"> Fiat </option>
        </select>
        <label>Color: </label>
        <select id="colorSelect" (change)="onColorSelected($event.target.value)">
            <option value="red"> red </option>
            <option value="green"> green </option>
            <option value="blue"> blue </option>
        </select>
    </div>
</div>