<h3>
  Step 3: Summary
  <h3>
    <h2>
      Your car {{ carDescription }}
      <h2>
        <table>
          <tr>
            <td>
                <label>{{ carConfiguration }}</label>
            </td>
            <td>
                <label>{{ configCost | currency : "USD" : "symbol" : "1.2-2" }}</label>
            </td>
          </tr>
          <tr>
            <td>
                <label>Range: {{ carRange }} - Max speed: {{ carSpeed }}</label>
            </td>
          </tr>
          <tr>
            <td>
                <label>{{ carColor }}</label>
            </td>
            <td>
                <label>{{ colorCost | currency : "USD" : "symbol" : "1.2-2" }}</label>
            </td>
          </tr>
          <tr *ngIf="hasHitch">
            <td>
                <label>Tow Hitch Package</label>
            </td>
            <td>
                <label>{{ packagesCost | currency : "USD" : "symbol" : "1.2-2" }}</label>
            </td> 
          </tr>
          <tr *ngIf="hasSteering">
            <td>
                <label>Yoke Steering Wheel Package</label>
            </td>
            <td>
                <label>{{ packagesCost | currency : "USD" : "symbol" : "1.2-2" }}</label>
            </td>   
          </tr>
        </table>
          <hr />
        <table>
            <td>
                <label>TOTAL COST</label>
            </td>
            <td>
                <label>{{ carTotalCost | currency : "USD" : "symbol" : "1.2-2" }}</label>
            </td> 
        </table>
        <hr />
      </h2>
    </h2>
  </h3>
</h3>
