
<main class="container py-3">
<button id="step1" routerLink="'/model'">Step 1</button>
<button id="step2" routerLink="'/configuration'" [disabled]="isCarConfigAvailable">Step 2</button>
<button id="step3" routerLink="'/summary'" [disabled]="isCarSummaryAvailable">Step 3</button>

<router-outlet></router-outlet>
 <!--*ngIf="selectedStep === 1" (carModelFlag)="onCarConfigChanged($event)"></car-model>
<car-config *ngIf="selectedStep === 2" (carConfigFlag)="onCarSummaryChanged($event)"></car-config>
<car-summary *ngIf="selectedStep === 3"></car-summary>-->
</main>
